<form action="#" id="number-of-primes">
	<input class="form-component" type="number" name="number" id="number" min="1" />
	<label class="form-component" for="number">Number of primes</label></br>
	<button class="form-component" type="submit">Submit</button>
</form>
